body {
  background: linear-gradient(
    163deg,
    rgba(197, 0, 0, 1) 0%,
    rgba(197, 0, 0, 1) 35%,
    rgba(197, 0, 0, 1) 100%
  );
}

p {
  text-align: center;
}

button {
  border-radius: 25px;
  margin: 0 auto;
  display: block;
  background-color: #e70000;
  border: 1px solid #e70000;
  color: #fffdef;
  font-size: 18px;
  line-height: 22px;
  padding: 16px 24px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

button:hover {
  color: #e70000;
  background: #fffdef;
  color: #000000;
}

.f1-beginners {
  max-width: 600px;
  padding: 30px;
  margin: 30px auto;
  background-color: #fffdef;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.header h1 {
  text-align: center;
  position: relative;
  top: 18px;
  left: 10px;
  color: #e70000;
}
.header img {
  width: 170px;
  max-width: 100%;
  height: 50px;
  margin: 0 auto;
}

.introduction {
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
}

.drivers {
  max-width: 100%;
  min-width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

.paragraph-one {
  font-size: 18px;
}

.paragraph-two {
  font-size: 18px;
}

.team {
  font-weight: bolder;
}

.paragraph-three {
  font-size: 18px;
}

.paragraph-four {
  font-size: 18px;
}
